.landing {
  position: absolute;
  background-image: url('https://stmed.net/sites/default/files/food-wallpapers-28249-1462026.jpg');
  background-size: cover;
  height: 80vh;
}

.supporting-content {
  top: 55%;
  position: absolute;
  border: solid 1px orange;
  left: 1.5%;
  text-align: center;
}
