.content {
  text-align: center;
  padding: 20px;
}

.supporting {
  font-weight: 10;
  font-family: 'Cardo', serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.header {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  font-style: italic;
}

.arrows {
  color: red;
  margin-top: 12px;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 18px;
  text-align: center;
  font-style: italic;
  margin-left: 8px;
}
